.footer{
    padding: 2%;
    background-image: linear-gradient(to right, #9fb5ff 0%, #4d66f8 51%, #1520b4 100%);

    /*background-color: #3b83ff;*/
    color: white;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
}

.container{
    text-align: center;
}

.btn{
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    /* For phones: */
    h4{
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
/* For tablets: */
}

@media screen and (min-width: 750px) {
/* For tablets: */
}

@media screen and (min-width: 1500px) {
/* For desktop: */
    .btn{
        width: 20%;
    }

    #label{
        font-size: larger;
    }
}