<div class="library-container">
    <div class="book angular">Angular</div>
    <div class="book java">Java</div>
    <div class="book sql">SQL</div>
    <div class="book linux">Linux</div>
    <div class="book swagger">Swagger<br>Open APIs</div>
    <div class="book db2">IBM's<br>DB2</div>
    
    <div class="book gcp">Google Cloud<br>Platform</div>
    <div class="book spring-boot">Spring<br>Boot</div>
    <div class="book spring-sec">Spring<br>Security</div>
    <div class="book rest">Rest APIs</div>
    <div class="book figma">Figma</div>
    <div class="book micro">Microservices</div>
</div>