<div class="container">
    
    <div id="leftdiv">
        <img id="logo" src="assets/images/2787870.jpg" class="rounded-circle" height="100%" width="100%">
    </div>
    
    <div id="rightdiv">
        <h1> Hey there, I am <span id="name"> Srishti</span> ! </h1>

        <p> I am a Full Stack Web Developer and learning more and more everyday. I design as well as develop.
            Feel free to reach out in case of queries and collaborations via the '<a href="lets-get-in-touch">Contact</a>' page. </p>
        
        <br>
        <blockquote> Core Skills : Spring Boot, Spring Security, Core Java, Angular, Typescript, Spring MVC
        </blockquote>

    </div>
</div>

<!--app-footer></app-footer>
<router-outlet></router-outlet-->