<div class="mySkills">
    <div class="container"> 
        <h4> <strong> My Skills </strong> </h4>
        
        <br>
        
        <img src="assets/images/skills/html.png">
        <img src="assets/images/skills/css-3.png">
        <img src="assets/images/skills/bootstrap.png">
        <img src="assets/images/skills/angular.png">
        <img src="assets/images/skills/typescript.png">
        <img src="assets/images/skills/java.png">
        <img src="assets/images/skills/sql-server.png">
        <img src="assets/images/skills/spring.png">
        <img src="assets/images/skills/unity.png">
        <img src="assets/images/skills/mongodb.png">
        <img src="assets/images/skills/gcp.png">
        <img src="assets/images/skills/firebaseLogo.png">
        <img src="assets/images/skills/anaplan.png">

    </div>
</div>
