<div id="myWork">
    <div class="container"> 
        <h4> <strong> My Projects </strong> </h4>
        
        <br>

        <div id="projectsBar">
            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Application - Google APIs</h5>
                    <p class="card-text">
                        A spring boot application that connects with the Google APIs and saves data in H2 DB.
                    </p>
                    <a class="btn btn1" href="https://github.com/thesrishtisharma/Swagger-SpringBoot-GoogleAPI" target="_blank">
                        {{viewProjectBtn}}
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">SC Communication: Infinte ideas, definite results</h5>
                    <p class="card-text">
                        Client Project to demonstrate their work as web application.
                    </p>
                    <a class="btn btn1" href="https://sc-communication-and-events.web.app/" target="_blank">
                        {{viewProjectBtn}}
                    </a>
                </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Junk App Scanner (Android App)</h5>
                    <p class="card-text">
                        An android application that identifies the apps banned by Indian Govt post Covid-19.
                    </p>
                    <a class="btn btn1" href="https://play.google.com/store/apps/details?id=com.vilvs.junkappscanner" target="_blank">
                        {{viewProjectBtn}}
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Flowers Online E-Store - WebApp</h5>
                    <p class="card-text">
                        eCommerce webapp to sell flowers: A full-stack development project.
                    </p>
                    <a class="btn btn1" href="https://thesrishtisharma.github.io/Flowers-Online-WebApp/" target="_blank">
                        {{viewProjectBtn}}
                    </a>                
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Food Delivery Mobile App - Designing</h5>
                    <p class="card-text">
                        A UX-Design mobile application: to order and deliver food online.  
                    </p>
                    <a class="btn btn1" href="https://www.figma.com/proto/s0dNwxGXAIVK7nsm3N48r3/Google-UX-Invitation-Project?node-id=46%3A4&scaling=scale-down&page-id=46%3A2&starting-point-node-id=46%3A4" target="_blank">
                        {{viewProjectBtn}}
                    </a>                
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Hotel Reservation System - Mini Webapp</h5>
                    <p class="card-text">
                        A full-stack development project to book hotel rooms online by checking availability.
                    </p>
                    <a class="btn btn1" href="https://thesrishtisharma.github.io/Hotel-Reservation-WebApp/" target="_blank">
                        {{viewProjectBtn}}
                    </a>                
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Recipe Guide WebApp - Designing</h5>
                    <p class="card-text">
                        A UX-Design web application: to view and learn recipes online.
                    </p>
                    <a class="btn btn1" href="https://xd.adobe.com/view/297881c5-d1f9-40a9-91e0-4ebc43a7f448-7c2b/" target="_blank">
                        {{viewProjectBtn}}
                    </a>                
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Flight Admin System - Mini WebApp</h5>
                    <p class="card-text">
                        A full-stack development project: to perform CRUD operations as flight admin.
                    </p>
                    <a class="btn btn1" href="https://thesrishtisharma.github.io/Flight-Admin-System/" target="_blank">
                        {{viewProjectBtn}}
                    </a>                
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="../../assets/images/BestChoiceCars.png" alt="Card image cap"-->
                <div class="card-body">
                    <h5 class="card-title">Car Re-selling store - Mini WebApp</h5>
                    <p class="card-text">
                        This is a mini webapp to re-sell the used cars as part of personal projects.
                    </p>
                    <a class="btn btn1" href="https://thesrishtisharma.github.io/Best-Choice-Cars/" target="_blank">
                        {{viewProjectBtn}}
                    </a>                
                </div>
            </div>
        </div>
    </div>
</div>