<div class="work">
    <div class="container">
        <h4> <strong> My Projects </strong> </h4>
        <p> You can have a look at few of my design projects below: </p>

        <!-- Responsive Bootstrap Cards -->
        <br>
        <div class="slider">
            <input type="radio" name="testimonial" id="t-1">
            <input type="radio" name="testimonial" id="t-2">
            <input type="radio" name="testimonial" id="t-3" checked>
            <input type="radio" name="testimonial" id="t-4">
            <input type="radio" name="testimonial" id="t-5">
            <input type="radio" name="testimonial" id="t-6">
            <div class="testimonials">
                <label class="item" for="t-1">
                    <img src="assets/images/BestChoiceCars.png" alt="picture"><br>
                    <p id="three">Car Re-selling store - Mini WebApp</p>
                    <a class="btn btn-outline-light" href="https://thesrishtisharma.github.io/Best-Choice-Cars/" target="_blank">Visit this project</a>
                </label>
                <label class="item" for="t-2">
                    <img src="assets/images/FlightReservation.png" alt="picture"><br>
                    <p>Flight Admin System - Mini WebApp</p>
                    <a class="btn btn-outline-light" href="https://thesrishtisharma.github.io/Flight-Admin-System/" target="_blank">Visit this project</a>
                </label>
                <label class="item" for="t-3">
                    <img src="assets/images/FlowersOnline.png" alt="picture"><br>
                    <p>Flowers Online Shopping Store - WebApp</p>
                    <a class="btn btn-outline-light" href="https://thesrishtisharma.github.io/Flowers-Online-WebApp/" target="_blank">Visit this project</a>
                </label>
                <label class="item" for="t-4">
                    <img src="assets/images/Restaurant_Food_delivery_Mobile_App.png" alt="picture"><br>
                    <p>Restaurant Food Delivery Mobile App - Designing</p>
                    <a class="btn btn-outline-light" href="https://www.figma.com/proto/s0dNwxGXAIVK7nsm3N48r3/Google-UX-Invitation-Project?node-id=46%3A4&scaling=scale-down&page-id=46%3A2&starting-point-node-id=46%3A4" target="_blank">Visit this project</a>
                </label>
                <label class="item" for="t-5">
                    <img src="assets/images/HotelReservation.png" alt="picture"><br>
                    <p>Hotel Reservation System - Mini Webapp</p>
                    <!--<p>Restaurant WebApp - Designing</p>-->
                    <a class="btn btn-outline-light" href="https://thesrishtisharma.github.io/Hotel-Reservation-WebApp/" target="_blank">Visit this project</a>
                </label>
                <label class="item" for="t-6">
                    <img src="assets/images/RecipeWebapp.png" alt="picture"><br>
                    <p>Recipe Guide WebApp - Designing</p>
                    <a class="btn btn-outline-light" href="https://xd.adobe.com/view/297881c5-d1f9-40a9-91e0-4ebc43a7f448-7c2b/" target="_blank">Visit this project</a>
                </label>
            </div>
            <div class="dots">
                <label for="t-1"></label>
                <label for="t-2"></label>
                <label for="t-3"></label>
                <label for="t-4"></label>
                <label for="t-5"></label>
                <label for="t-6"></label>
            </div>
        </div>
    </div>
</div>