<div class="roadmap-container">
    <!-- Road Graphic -->
    <svg class="road-svg" viewBox="0 0 800 400" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Main Asphalt -->
        <path d="M0 350 C 200 350, 200 150, 400 250 S 600 50, 800 150" 
              stroke="#333" stroke-width="60" stroke-linecap="round" />
        <!-- White Dashed Line -->
        <path d="M0 350 C 200 350, 200 150, 400 250 S 600 50, 800 150" 
              stroke="white" stroke-width="4" stroke-dasharray="20, 15" stroke-linecap="round" />
    </svg>

    <!-- Milestone 1 -->
    <div class="milestone pos-1">
        <img src="assets/images/hbk.png" alt="HBK" class="logo">
        <div class="pin" style="background-color: #6fb9c0;"></div>
    </div>

    <!-- Milestone 2 -->
    <div class="milestone pos-2">
        <img src="assets/images/ibm.png" alt="IBM" class="logo">
        <div class="pin" style="background-color: #5eaefd;"></div>
    </div>

    <!-- Milestone 3 -->
    <div class="milestone pos-3">
        <img src="assets/images/wipro.png" alt="Wipro" class="logo">
        <div class="pin" style="background-color: #f17b7b;"></div>
    </div>

    <!-- Milestone 4 -->
    <div class="milestone pos-4">
        <img src="assets/images/mospi.svg" alt="Gov" class="logo">
        <div class="pin" style="background-color: #97a7eb;"></div>
    </div>
</div>