.summary{
    height: 95vh;
    margin-bottom: 2%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-right: 1px solid #111f45;
    overflow-y: hidden;
    /* background-color: antiquewhite; */
}

.main{
    min-height: 65vh;
    max-height: 65vh;
    max-width: 100%;
    /* background-image: url("../assets/images/UnEdited.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(173, 216, 255, 0.5), rgba(25, 25, 112, 0.5)), url("../assets/images/UnEdited.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#social_handles{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

#downloadResume{
    font-size: 18px;
}

/** FOR DESKTOP SCREENS */
@media screen and (min-width: 1000px) {
    .summary{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5%;
    }

    .aboutSrishti{
        width: 50%;
        padding: 3%;
    }

    .social{
        height: 40px;
    }

    #social-icons {
        display: flex;
        gap: 5%;
    }
}

/** FOR TABLETS SCREENS */
@media screen and (min-width: 600px) and (max-width: 999px) {
    .summary{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20%
    }

    #social-icons {
        display: flex;
        gap: 5%;
    }

    .social{
        height: 35px;
    }
}

/* FOR PHONE SCREENS */
@media screen and (max-width: 600px) {
    .aboutSrishti{
        width: 100vw;
        padding: 3%;
    }

    .summary{
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        padding-bottom: 30%;
    }

    .social{
        height: 25px;
    }

    #social-icons {
        display: flex;
        gap: 6%;
    }
}