.funnel-display-navbar {
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.funnel-display-name {
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: large;
}
  

.class-#name{
    color:red;
}

*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#dark{
    background-color: black; /*#0a192f*/
}

#light{
    background-color: white;/*#e6f1ff*/
}

#darkMode{
    width: 99%;
    position: fixed;
    text-align: right;
}

#summary{
    padding-top: 5%;
}

#summary, #experience, #work, #contact{
    display: block;
    padding-bottom: 10%;
}

#right img{
    border-radius: 20px;
    padding: 20px;
}

#dark #img_container img{
    border-bottom: 2px solid #64ffda;
    border-right: 2px solid #64ffda;
}

#light #img_container img{
    border-bottom: 2px solid saddlebrown;
    border-right: 2px solid saddlebrown;
}

#navBar{
    min-height: 40px;
    max-height: 40px;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 1 !important;
}

#navUl {
    z-index: 1 !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 96%;
    /* border-bottom: 1px solid darkslategrey; */
}

#navUl li { 
    float: right;
}

#navUl li a:not(.logo-anchor), ul li #dark-mode-toggle{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

#navUl li p{
    display: block;
    text-align: center;
    padding: 16px 16px;
}

#logo{
    width: 10vh;
    padding: 5%;
    cursor: pointer;
}

span.material-icons{
    font-size: 14px;
    padding: 3px;
}

/** Experience Div **/
#dark #experience-tab #experience{
    border: 1px solid #112240;
}   

#light #experience-tab #experience{
    border: 1px solid #ccd6f6;
}  

#dark ol li:hover{
    background-color: #233554;
}

/** Projects **/
#projects_container{
    display: flex;
    padding: 1%;
}

#project{
    width: 20rem;
    margin: 1%;
    padding: 1%;
}

#dark #project{
    background-color: #233554;
}

#light #project{
    background-color: #eff5fb;
}

#icons{
    display: flex;
    justify-content: space-between;
}

#folder-icon{
    font-size: 48px;
}

#dark #folder-icon{
    color: #64ffda;
}

#light #folder-icon{
    color: saddlebrown;
}

#open-link{
    font-size: x-large;
    text-align: right;
    vertical-align: top;
    margin-left: 5%;
    padding-top: 5%;
}
#dark #open-link{
    color: white;
}

#light #open-link{
    color: midnightblue;
}

.btn.disabled, .btn:disabled{
    opacity: 1;
}

.btn-dark{
    border: 3px solid #F59E0B;
    border-radius: 10px;
    width: 50%;
}

/* For desktop: */
@media screen and (min-width: 1000px) {
    #s1, #s4{
        font-size: 16px;
    }

    #name{
        font-size: 48px;
    }

    #dsc{
        font-size: 24px;
    }

    #summary{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        text-align: center;
    }

    #social_handles a{
        margin-left: 1%;
        margin-right: 1%;
    }

    .social{
        height: 40px;
    }

    #img_container img{
        padding-bottom: 10px;
        padding-right: 10px;
        height: 300px !important;
    }
    
    /** Experience Div **/
    #experience-tab{
        display: flex;
        justify-content: space-between;
        padding: 5%;
    }
    
    #experience-tab #company-name{
        width: 30%;
    }
    
    #experience-tab #experience{
        width: 65%;
        margin-left: 1%;
        padding: 2%;
        border-radius: 20px;
    }
    
    #expList li{
        display: block;
        cursor: pointer;
        padding: 8px 8px 8px 12px;
        margin-top: 2%;
        /*border-radius: 10px;*/
    }

    #dark #expList li{
        border-top: 1px solid #112240;
        border-bottom: 1px solid #112240;
    }

    #light #expList li{
        border-top: 1px solid #DFEBF9;
        border-bottom: 1px solid #DFEBF9;
    }

    #dark #company-name .active{
        background-color: #112240;
        border-left: 5px solid #64ffda;
    }
    
    #light #company-name .active{
        background-color: #eff5fb;
        border-left: 5px solid saddlebrown;
    }
    #right img{
        transition: filter 0.3s ease; /* Smooth transition for the filter property */
        filter: grayscale(100%) brightness(100%);
    }

    #right img:hover{
        filter: grayscale(0%) brightness(100%); /* Removes grayscale and restores brightness on hover */
    }
}

/* For tablets: */
@media screen and (min-width: 600px) and (max-width: 999px) {
    #s1, #s4{
        font-size: 16px;
    }

    #name{
        font-size: 48px;
    }

    #dsc{
        font-size: 24px;
    }

    #social_handles a{
        margin-left: 2%;
        margin-right: 2%;
    }

    .social{
        height: 50px;
    }

    #summary{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20%
    }

    #img_container img{
        padding-bottom: 10px;
        padding-right: 10px;
        height: 250px !important;
    }

    /** Experience Div **/
    #experience-tab{
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }

    #experience-tab #company-name{
        width: 30%;
    }
    
    #experience-tab #experience{
        width: 65%;
        margin-left: 1%;
        padding: 2%;
        border-radius: 20px;
    }

    #expList li{
        display: block;
        cursor: pointer;
        padding: 8px 8px 8px 12px;
        margin-top: 2%;
    }

    #dark #expList li{
        border-top: 1px solid #112240;
        border-bottom: 1px solid #112240;
    }

    #light #expList li{
        border-top: 1px solid #DFEBF9;
        border-bottom: 1px solid #DFEBF9;
    }

    #dark #company-name .active{
        background-color: #112240;
        border-left: 5px solid #64ffda;
    }
    
    #light #company-name .active{
        background-color: #DFEBF9;
        border-left: 5px solid saddlebrown;
    }
}

/* For phones: */
@media screen and (max-width: 600px) {
    #s1, #s4{
        font-size: 12px;
    }

    #name{
        font-size: 36px;
    }

    #dsc{
        font-size: 18px;
    }

    li a, li mat-slide-toggle{
        font-size: 12px;
        padding: 4px 6px;
    }

    #social_handles a{
        margin-left: 2%;
        margin-right: 2%;
    }

    .social{
        height: 30px;
    }

    #right img{
        height: 50%;
    }

    #summary{
        padding-top: 30%;
        padding-bottom: 30%;
        display: flex;
    }

    #img_container img{
        padding-bottom: 10px;
        padding-right: 10px;
        height: 150px !important;
    }

    /** Experience Div **/
    #experience h5{
        font-size: 14px;
    }

    #experience p{
        font-size: 12px;
    } 

    #expList{
        white-space: nowrap;
        overflow-x: scroll;
    }

    #expList li{
        display: inline-block;
        cursor: pointer;
        padding: 8px;
        /* border-radius: 10px; */
        font-size: 12px;
        min-width: 25%;
        max-width: 25%;
        white-space: normal;
        margin-left: 3%;
        margin-top: 1%;
        text-align: center;
        vertical-align: middle;
    }

    #dark #expList li{
        border-left: 1px solid #112240;
        border-right: 1px solid #112240;
    }

    #light #expList li{
        border-left: 1px solid #DFEBF9;
        border-right: 1px solid #DFEBF9;
    }

    #experience{
        padding: 4%;
        border-radius: 20px;
        min-height: 300px;
    }

    #dark #company-name .active{
        background-color: #112240;
        border-bottom: 5px solid #64ffda;
    }
    
    #light #company-name .active{
        background-color: #DFEBF9;
        border-bottom: 5px solid saddlebrown;
    }

    /** WORK */
    #projects_container{
        margin-left: 1%;
    }
}