<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div id="{{mode}}" style="scroll-behavior: smooth;">
    <!-- navbar -->
    <div @fade id="navBar" [style.background-color]="navbarColor">
        <ul id="navUl" [style.background-color]="navbarColor">
            <li style="float: left;">
                <a class="funnel-display-name" id="dsc" href="#summary" skipLocationChange [style.color]="navNameColor">
                    {{myName}}
                </a>
            </li>
            <li><mat-slide-toggle id="dark-mode-toggle"
                #darkModeSwitch
                (change)="changeTheme()"
                [checked]="checked"
                [disabled]="disabled">
            </mat-slide-toggle></li>
            <li><a class="funnel-display-navbar" href="#work" [style.color]="navbarText">Projects</a></li>
            <li><a class="funnel-display-navbar" href="#experience" [style.color]="navbarText">Experience</a></li>
            <li><a class="funnel-display-navbar" href="#education" [style.color]="navbarText">Education</a></li>
        </ul>
    </div>

    <!--    About me    -->
    <div @slideY class="container" id="summary">
        <div id="left">
            <p>
                <span id="name" [style.color]="s1TextColor">Hey there, I'm <b id="name" class="funnel-display-name" [style.color]="navNameColor">Srishti Sharma</b>.</span>    <br><br>
                <span id="dsc" [style.color]="dscTextColor">I build things for the web.</span>     <br><br>
                <span id="s4" [style.color]="s4TextColor">
                    I am a <b id="s4" [style.color]="navNameColor">Software Engineer</b> - proficient in designing, implementing and maintaining web applications while 
                    collaborating with cross functional teams to deliver high quality solutions. Currently, I am growing my 
                    career journey with <b><span [style.color]="nameTextColor">IBM</span></b>.
                </span>
            </p>
            <br>
            <section id="social_handles">
                <a target="_blank" href="https://www.linkedin.com/in/the-srishti-sharma/">
                    <img class="social" src="../assets/images/linkedin.png">
                </a>
                <a target="_blank" href="https://github.com/thesrishtisharma">
                    <img class="social" src="../assets/images/github.png">
                </a>
                <a target="_blank" href="https://www.instagram.com/thesrishtisharma/">
                    <img class="social" src="../assets/images/instagram (1).png">
                </a>
                <a target="_blank" href="https://t.me/thesrishtisharma">
                    <img class="social" src="../assets/images/telegram.png">
                </a>
            </section>
            <br>

            <button class="btn btn-dark" (click)="goto_newPage('https://drive.google.com/file/d/1-OGWnYIDUZUvUx_jBP9imxvVy_h_EeKJ/view?usp=sharing')">
                Download my resume
            </button>
        </div>
    </div>
    
    <!--   Education   -->
    <div @slideY class="container" id="education">
        <h2 class="jura-copyright" [style.color]="navbarText" [style.borderBottom]="'1px solid '+navbarText">My Skills & Education</h2>
        <div id="education-tab">
            <div id="category-name">
                <ul id="eduList">
                    <li *ngFor="let certificate of education_data" 
                        [style.color]="nameTextColor"
                        [class.active]="selectedEducation.name === certificate.name" 
                        (click)="showEducation(certificate.name)">
                        <b>{{certificate.name}}</b>
                    </li>
                </ul>
            </div>
            <div id="education">
                <section *ngFor="let education of loadEducation.data">
                    <p id="h5" [style.color]="navbarText">
                        <b>{{education.cert}}</b> 
                        <span style="color: #8892b0; float: right;">{{education.completion}}</span>
                    </p>
                    <p id="eduDesc" [style.color]="s4TextColor">
                        &nbsp;&nbsp;{{education.issuer}}
                        <span *ngIf="education.score" style="color: #8892b0; float: right;">{{education.score}}</span>
                    </p>
                    <hr>
                    <br *ngIf="loadExperience.data.length > 1">
                </section>
            </div>
        </div>
    </div>
    
    <!--   Experience   -->
    <div @slideY class="container" id="experience">
        <h2 class="jura-copyright" [style.color]="navbarText" [style.borderBottom]="'1px solid '+navbarText">My Work Experience</h2>
        <div id="experience-tab">
            <div id="company-name">
                <ul id="expList">
                    <li *ngFor="let data of experience_data" 
                        [style.color]="nameTextColor"
                        [class.active]="selectedExperience.name === data.name" 
                        (click)="showExperience(data.name)">
                        <b>{{data.name}}</b>
                    </li>
                </ul>
            </div>
            <div id="experience">
                <section *ngFor="let x of loadExperience.data">
                    <h5 [style.color]="navbarText">
                        {{x.role}} 
                        <span [style.color]="nameTextColor"> 
                            {{atChar}}
                            <a [href]="loadExperience.href" style="text-decoration: none;" [style.color]="nameTextColor"> 
                                {{loadExperience.name}}
                            </a>
                        </span> 
                    </h5>
                    <p style="color: #8892b0">{{x.timeline}}</p>
                    <p [style.color]="s4TextColor" [innerHTML]="x.desc"></p>
                    <br *ngIf="loadExperience.data.length > 1">
                </section>
            </div>
        </div>
    </div>

    <!--   Projects   -->
    <div @slideY class="container" id="work">
        <h2 class="jura-copyright" [style.color]="navbarText" [style.borderBottom]="'1px solid '+navbarText">Key Projects</h2>

        <div class="container" id="projects_container" class="row" *ngFor="let row of projectsBar">
            <div id="project" class="col-sm" *ngFor="let project of row.data">
                <div class="container">
                    <div id="icons">
                        <span id="folder-icon" class="material-symbols-outlined">
                            folder_open
                        </span>
        
                        <a target="_blank" href="{{project.ref}}" *ngIf="project.ref != '#'">
                            <span id="open-link" class="material-symbols-outlined">
                                ungroup
                            </span>
                        </a>
                    </div>
                    <br>
                    <div id="project-content">
                        <h5 [style.color]="nameTextColor">{{project.name}}</h5>
                        <hr [style.background-color]="navbarText">
                        <p style="color: #8892b0">{{project.desc}}</p>
                        <p [style.color]="s4TextColor"><i><b>Skills: </b>{{project.skills}}</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Contact  -->
    <!-- <div @slideY class="container" id="contact">
        <h2 [style.color]="navbarText" style="border-bottom: 1px solid {{navbarText}}">Contact Me</h2>
        <br>
        <div class="container">
            
        </div>
    </div> -->
    
    <!-- Copyrights -->
    <div @slideY class="container" id="copyrights">
        <span class="jura-copyright" [style.color]="navNameColor">
            {{SrishtiSharma_Copyrights}}
        </span>
    </div>
    <router-outlet></router-outlet>
</div>