.funnel-display-navbar {
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.funnel-display-name {
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: large;
}

.jura-copyright {
    font-family: "Jura", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* For desktop: */
@media screen and (min-width: 1000px) {
    #s1, #s4{
        font-size: 16px;
    }

    #name{
        font-size: 48px;
    }

    #dsc{
        font-size: 24px;
    }
}

/* For tablets: */
@media screen and (min-width: 600px) and (max-width: 999px) {
    #s1, #s4{
        font-size: 16px;
    }

    #name{
        font-size: 48px;
    }

    #dsc{
        font-size: 22px;
    }
}

/* For phones: */
@media screen and (max-width: 600px) {
    #s1, #s4{
        font-size: 12px;
    }

    #name{
        font-size: 36px;
    }

    #dsc{
        font-size: 14px;
    }
}