#screen{
    background-color: #0f1729;
    /* background-color: rgb(255, 255, 255); */
}

.section{
    margin-top: 4%;
}

/** FOR DESKTOP SCREENS */
@media screen and (min-width: 1000px) {
    #screen{
        height: 100vh;
        overflow-y: hidden;
    }

    .section{
        display: flex;
        height: 100vh;
    }

    .summary{
        overflow-y: hidden;
    }

    .right-section{
        overflow-y: scroll;
    }
}