#work, #skill{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #0f1729;
}

#proj{
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    background-color: #0f1729;
}

.projects{
    width: 100%;
}

.row{
    overflow-x: auto;
}

.card{
    padding: 10px;
    margin-left: .2%;
    margin-right: .2%;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.card-border{
    border-style: solid;
    border-width: 3px 0 3px 0; /* Left + right borders */
    border-image: linear-gradient(to right, rgb(238, 237, 237), rgba(206, 205, 205, 0)) 1;
    border-image-slice: 1; /* Single value applies to all sides */
}

.card-img-top {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card-img-top:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

/* Optional: Card lift effect on hover */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2) !important;
  background-color: gainsboro;
  border: 1px solid grey;
  border-radius: 0;
}

.card-title:hover{
    font-weight: bold;
    text-decoration: underline;
}

#card-style{
    width: 350px;
}

.projectContainer{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: flex;
    gap: 2%;
    padding: 1%;
    cursor: pointer;
}

.projectContainer:hover{
    background-color: #111f45;
    border-radius: 10px;
}

.projectImgContainer{
    width: 20%;
}

.projectContent{
    width: 81%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.projectImg{
    max-width: 100%;
    object-fit: contain;
}

.projectImg:hover{
    transform: scale(120%);
}

#folder-icon{
    font-size: 36px;
}

#open-link{
    font-size: x-large;
    text-align: right;
    vertical-align: top;
    margin-left: 5%;
    padding-top: 5%;
}

/** STYLES FOR PHONE SCREENS */
@media screen and (max-width: 600px) {
    .role, .company{
        font-size: 16px;
    }

    .expTime, #link{
        font-size: 12px;
    }

    #desc{
        font-size: 14px;
    }
 
    #card-style{
        width: 250px;
    }
}

/** FOR DESKTOP SCREENS */
@media screen and (min-width: 1000px) {
    #card-style{
        width: 350px;
    }
}

/** FOR TABLETS SCREENS */
@media screen and (min-width: 600px) and (max-width: 999px) {

}