#work{
    padding-bottom: 15%;
}

.projectContainer{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: flex;
    gap: 2%;
    padding: 1%;
    cursor: pointer;
}

.projectContainer:hover{
    background-color: #111f45;
    border-radius: 10px;
}

.projectImgContainer{
    width: 20%;
}

.projectContent{
    width: 81%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.projectImg{
    max-width: 100%;
    object-fit: contain;
}

.projectImg:hover{
    transform: scale(120%);
}

#folder-icon{
    font-size: 36px;
}

#open-link{
    font-size: x-large;
    text-align: right;
    vertical-align: top;
    margin-left: 5%;
    padding-top: 5%;
}

/** STYLES FOR PHONE SCREENS */
@media screen and (max-width: 600px) {
    .role, .company{
        font-size: 16px;
    }

    .expTime, #link{
        font-size: 12px;
    }

    #desc{
        font-size: 14px;
    }
}