#experience{
    margin-bottom: 2%;
}

.expContainer{
    display: flex;
    gap: 2%;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
    padding: 1%;
    margin-bottom: 2%;
}

.expTime{
    width: 17%;
}

.expDetails{
    width: 79%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.expContainer:hover{
    background-color: #111f45;
    border-radius: 10px;
}

#link{
    margin-left: 2%;
}

.skills{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.skills button{
    cursor: pointer;
    border-radius: 10px;
}

/* For desktop: */
@media screen and (min-width: 1000px){
    .role, .company{
        font-size: 20px;
    }

    #link{
        font-size: 15px;
    }
}

/** STYLES FOR PHONE SCREENS */
@media screen and (max-width: 600px) {
    .role, .company{
        font-size: 16px;
    }

    .expTime, #link{
        font-size: 12px;
    }

    #desc{
        font-size: 14px;
    }
}