.resume{
    text-align: center;
}

.container{
    background-color: #EAEAEA;
    width: 100%;
}

pdf-viewer{
    width: 100%;
}

.btn{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn1{
    background-image: linear-gradient(to right, #c43434 0%, #f7febc 51%, #b62135 100%);
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

@media screen and (max-width: 600px) {
    /* For phones: */
    .btn{
        transform: translate(-50px,-157px);
        width: 200px;
        padding: 10px;
        border-radius: 50px;
        font-weight: bold;
        text-align: center;
    }

    .container{
        transform: translateY(-150px);
    }

    pdf-viewer{
        height: 500px;
    }
  }
  
  @media screen and (min-width: 600px) {
    /* For tablets: */
    .btn{
        transform: translate(-100px,-300px);
        width: 300px;
        padding: 20px;
        border-radius: 50px;
        font-size: large;
        font-weight: bold;
        text-align: center;
    }

    .container{
        transform: translateY(-300px);
    }

    pdf-viewer{
        height: 500px;
    }
  }

  @media screen and (min-width: 750px) {
    /* For tablets: */
    .btn{
        transform: translate(-190px,-320px);
        width: 400px;
        padding: 20px;
        border-radius: 50px;
        font-size: large;
        font-weight: bold;
        text-align: center;
    }

    .container{
        transform: translateY(-300px);
    }

    pdf-viewer{
        height: 500px;
    }
  }
  
  @media screen and (min-width: 1500px) {
    /* For desktop: */
    .btn{
        transform: translateY(-680px);
        width: 500px;
        padding: 20px;
        border-radius: 50px;
        font-size: large;
        font-weight: bold;
    }

    .container{
        transform: translateY(-670px);
    }
    
    pdf-viewer{
        height: 500px;
    }
  }