/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-track {
    background: transparent; /* Set the background of the track to transparent */
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(231, 231, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bcbeff;
  }
  /* ::-webkit-scrollbar {
    display: none;
  } */

html, body{ height: 100%; }

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  user-select: none;
}

.mat-slide-toggle-thumb{
  background-color: purple;
} 

html {
  scroll-behavior: smooth;
}
