/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* width */
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
   
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0) !important; /* Fully transparent */
    border: none;
    border-radius: 0;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dfe0ff;
  }
  /* ::-webkit-scrollbar {
    display: none;
  } */

html, body{ height: 100%; }

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  user-select: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
.mat-slide-toggle-thumb{
  background-color: purple;
} 

html {
  scroll-behavior: smooth;
}
